$military-color: #d21;
$helicopters-color: #9139E9;
$civil-color: #2B2BE9;
$technology-color: #506478;
$weapon-color: #853609;
$small-color: #06C547;
$special-color: #42F925;
$grid: 18px;
$column-width: $grid*4;
$text-fz: 14px;
$bgColor: #fbfbfd;
%shadow {
    box-shadow: 0px 0px 3px 0px #4448;
}

%box {
    @extend %shadow;
    background-color: $bgColor;
    border-radius: $grid/3;
}

%text {
    text-indent: $grid*1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: $grid;
}

%site-header {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: #666;
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Merriweather-Light.ttf);
}